/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
.wrapper-inner {
    padding:10px 50px
}

.portfolio-item.wrapper-inner {
    padding:1em 10em
}

.grid-list {
    margin:0;
    padding:0;
    .overlay{
        font-size:120%;
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        transition:opacity .25s ease-in-out;
        -o-transition:opacity .25s ease-in-out;
        -moz-transition:opacity .25s ease-in-out;
        -webkit-transition:opacity .25s ease-in-out;
        opacity:0;
        background:#f5f5f5;
        background:rgba(0,0,0,.5);
        h3{
            display:block;
            line-height:1.5em;
            span{
                display:block;
                opacity:.34;
            }    
            span:hover {
                opacity:.54;
            }
        }
        a {
            font-size:1em;
            color:#fff;
            font-weight: 700;
            text-transform: uppercase;
            height:100%;
            width:100%;
            display:block;
            position:absolute;
        }
    
    }
}

.grid-list:hover{
    .overlay {
        opacity:1
    }  
} 


header {
    margin:0;
    padding:0
}

.no-gutter-space {
    margin:0
    div {
        margin:0;
        padding:0
    }
}

.navbar {
    padding:3em 15px 1em
}

.intro {
    padding:0 50px 2em
}

.wrapper {
    padding:0 0 4em;
    margin:3em 0 0;
    clear:both;
    .container {
        padding:0;
    }
}

}