$background-color: #FFFFFF;
$link-color: #999999;
$link-hover-color: #c6463d;
$body-content-color: #404040;

/*navigation*/
$navigation-color: #404040;
$navigation-menu-color: #404040;

/*footer*/
$footer-background: #FFFFFF;
$footer-border-color: #E1E1E1;




