<div class="row grid-list-wrapper no-gutter-space container">
	
	<div class="col-sm-6" id="area-foto">
		<img src="me.jpg" width="320px" height="320px">
	</div>
	
	<div class="col-sm-6">
		<h2>$Hello,</h2>
		<p>Eu sou Victor Palhares, Web & Mobile developer que vive em São Paulo.</p>
		<p>Desde 2012 trabalho com o desenvolvimento de aplicações Web/Mobile. Já trabalhei com Startups, agências de publicidade, editoras e hoje sou o responsável pela parte de aplicações mobile no <a target="_blank" href="https://oqvestir.com.br">OQVestir</a>.</p>
		<p>Cursei Ciência da computação e hoje curso Sistemas para internet, para cada vez aprimorar mais ainda o meu conhecimento técnico.</p>
		<p>Sou bem humorado, curioso e cheio de novas ideias. Apoio metodologias ágeis de gestão de projetos e Open Source.</p>

		<p>Quer saber um pouco mais? Me manda um email lá no <a href="mailto:victor.perdomo12@gmail.com?Subject=Hello%20Victor" target="_top">victor.perdomo12@gmail.com</a></p>

	</div>
	
</div>
