<div class="row grid-list-wrapper no-gutter-space">
	
	<div class="col-sm-6" id="area-foto">
		<img src="me.jpg" width="320px" height="320px">
	</div>
	
	<div class="col-sm-6">
		<h2>Hello,</h2>
		<p>Meu nome é Victor Palhaes, tenho 20 anos e sou de Belo Horizonte - MG. Sou formado em Informática Gerencial pelo Colégio Cotemig e curso Ciência da Computação pela Universidade FUMEC.</p>
		<p>Há 4 anos trabalho com desenvolvimento de websites e portais web. Porém desde 2013 tenho dedicado a minha experiência ao desenvolvimento de aplicações mobile, tanto nativas quanto híbridas, desenvolvidas com Phonegap.</p>
		<p>Sou bem humorado, curioso e cheio de novas ideias. Apoio metodologias ágeis de gestão de projetos e Open Source.</p>
	</div>
	
</div>