/*navigation*/
/*footer*/
html {
  background-color: #FFFFFF; }

.row > div, .container {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; }

body {
  font-family: Lato,sans-serif;
  color: #404040;
  min-width: 300px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1em;
  padding: 0; }

a {
  cursor: pointer;
  text-decoration: none !important;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  color: #999999; }

a:hover {
  color: #c6463d; }

.inline-block {
  display: inline-block; }

#ngProgress-container {
  position: absolute;
  width: 100%;
  top: 0; }

.col-lg-4 {
  padding: 0; }

.title-section {
  padding: 50px 200px !important; }
  .title-section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 100;
    font-size: 50px; }

@media only screen and (min-width: 300px) {
  .overlay {
    position: absolute;
    width: 100%;
    bottom: 0; }
    .overlay a {
      padding: 0; }
    .overlay a.tit-project {
      padding: .6em;
      background-color: rgba(64, 64, 64, 0.3);
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #fff;
      font-size: 1.5em; }
      .overlay a.tit-project span {
        font-size: .8em; } }

@media only screen and (min-width: 480px) {
  .overlay {
    position: absolute;
    width: 100%;
    bottom: 0; }
    .overlay a {
      padding: 0; }
    .overlay a.tit-project {
      padding: .6em;
      background-color: rgba(64, 64, 64, 0.3);
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #fff;
      font-size: 1.5em; }
      .overlay a.tit-project span {
        font-size: .8em; } }

/* Navigation */
.navbar-header {
  margin: -15px;
  padding: 0  15px; }

.navbar-collapse {
  width: 100%; }

.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin: 20px 15px; }
  .navbar-toggle .icon-bar {
    background: #404040;
    height: 2px;
    border-radius: 2px; }

.navbar-brand {
  color: #404040;
  margin: 15px;
  font-size: 1.3em;
  height: auto;
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .navbar-brand .fa-qrcode {
    font-size: 34px;
    float: left;
    margin-right: 8px;
    margin-top: -4px; }
  .navbar-brand span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.navbar-brand:hover {
  color: #404040; }
  .navbar-brand:hover span {
    color: #c6463d;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 180deg); }

.social li {
  display: inline-block; }
  .social li a {
    padding-right: 0; }
    .social li a .fa {
      font-size: 18px; }

.navbar-nav li a {
  display: block;
  margin: 12px 0;
  color: #404040;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out; }

.navbar-nav li a:hover {
  background: none;
  color: #c6463d; }

.navbar-nav li a:focus {
  background: none; }

/* Intro */
.intro {
  margin: 0 0 1.5em;
  font-size: 1.8em;
  line-height: 1.6em; }
  .intro span {
    font-weight: 100; }

/* Grid List  */
.grid-list-wrapper {
  margin: 0 0 4em; }

.grid-list {
  margin: 0 0 3em;
  position: relative; }
  .grid-list img {
    width: 100%;
    height: auto; }

.overlay a {
  color: #404040;
  padding: 2em 2em;
  display: block; }

.overlay h2 {
  font-size: 1.2em;
  line-height: 1.35em;
  margin: 0;
  padding: .5em 0; }

.overlay h3 {
  display: none;
  padding: 0;
  font-size: 1.2em;
  line-height: 1em; }

.overlay span {
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 1em; }

/* Footer */
footer {
  background: #FFFFFF;
  border-top: 1px solid #E1E1E1;
  clear: both;
  padding: 3em 0; }
  footer .navbar-brand {
    float: none;
    text-align: center;
    width: 100%; }
  footer p {
    margin: 0; }

.nav-footer {
  margin: 0;
  padding: 0; }
  .nav-footer ul {
    margin: 0;
    padding: 0; }

.nav-footer ul#menu {
  float: left; }

.nav-footer ul#social {
  float: right; }

.nav-footer li {
  list-style: none;
  margin: .5em;
  display: inline-block; }

.nav-footer a {
  color: #999999;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out; }

.nav-footer a:hover {
  color: #c6463d; }

header {
  margin: 15px; }

.credits {
  font-weight: 300;
  margin: 7px 0; }
  .credits b {
    color: #c6463d; }

.navbar-brand-wrapper {
  margin: 3em 0 2em;
  opacity: .2; }

.wrapper footer .container {
  box-shadow: none; }

.grid-list-wrapper li {
  list-style: none; }

@media only screen and (min-width: 768px) {
  .grid-list {
    margin: 0; }
  .overlay a {
    padding: 0; }
  .overlay a.tit-project {
    padding: .6em;
    background-color: rgba(64, 64, 64, 0.3);
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    font-size: 1.5em; }
    .overlay a.tit-project span {
      font-size: .8em; }
  header {
    margin: 2em 0px;
    padding: 20px 30px; }
  .navbar-header {
    margin: 0;
    padding: 0; }
  .intro {
    font-size: 1.6em;
    margin: 0 0 .9em; }
  .navbar-nav.social {
    float: right; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .wrapper-inner {
    padding: 10px 50px; }
  .portfolio-item.wrapper-inner {
    padding: 1em 10em; }
  .grid-list {
    margin: 0;
    padding: 0; }
    .grid-list .overlay {
      font-size: 120%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      opacity: 0;
      background: #f5f5f5;
      background: rgba(0, 0, 0, 0.5); }
      .grid-list .overlay h3 {
        display: block;
        line-height: 1.5em; }
        .grid-list .overlay h3 span {
          display: block;
          opacity: .34; }
        .grid-list .overlay h3 span:hover {
          opacity: .54; }
      .grid-list .overlay a {
        font-size: 1em;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        display: block;
        position: absolute; }
  .grid-list:hover .overlay {
    opacity: 1; }
  header {
    margin: 0;
    padding: 0; }
  .no-gutter-space {
    margin: 0; }
    .no-gutter-space div {
      margin: 0;
      padding: 0; }
  .navbar {
    padding: 3em 15px 1em; }
  .intro {
    padding: 0 50px 2em; }
  .wrapper {
    padding: 0 0 4em;
    margin: 3em 0 0;
    clear: both; }
    .wrapper .container {
      padding: 0; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 0 0 5em;
    clear: both; } }

#area-foto {
  text-align: center; }
  #area-foto img {
    border-radius: 50%;
    margin-bottom: 40px; }

.bg-project {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  min-height: 600px; }

.link-project a i {
  margin-right: 5px; }
